@import "tailwindcss";
body {
    font-family: 'Poppins';
}
@media (max-width: 768px) {
    #dropdownNavbarCampus, #dropdownNavbarActivities, #dropdownNavbarVisit, #dropdownNavbarContact {
    position: static !important;
    inset: auto !important;
    transform: none !important;
    margin: 0 !important;
    width: 100% !important; /* optional: full width on mobile */
    }
}


.pt-serif {
    font-family: 'PT Serif', serif;
}

#atithi-nivas-slider .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    left:auto !important;
    right:0 !important;
}

#atithi-nivas-slider .swiper-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic, .swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
    right: 0 !important;
    transform: none !important;
}
#atithi-nivas-slider .swiper-pagination-bullet {
    background: rgba(249, 215, 58, 0.5) !important;
    opacity: 1 !important;
}

#atithi-nivas-slider .swiper-pagination-bullet-active {
    background-color: #F9D73A !important;
}